.post-title {
	font-weight: bold;
	font-size: 1.5rem;
}

.post-content {
	font-size: 0.9rem;
}

.post-comment-wrapper {
	border-top: 1px solid #000;
}

.post-comment-time {
	color: grey;
}

.postpage-wrapper {
	display: flex;
}

.postpage-score {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.postpage-score button {
	background-color: white;
	padding: 10px;
}

.postpage-wrapper {
	display: flex;
	gap: 20px;
}

p {
	text-align: justify;
}
