.post-comment-score {
	max-width: 60px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.post-comment-score button {
	background-color: white;
	padding: 7.5px;
}

.post-comment-wrapper {
	display: flex;
	gap: 20px;
}
